.about-card {
  /*height: 50vh;*/
  width: 40%;
  background: var(--tan);
  border-radius: 8px;
  padding: 3vh;
  box-shadow: var(--shad)
}

.about-header {
  text-decoration: underline;
  color: var(--grn1);
}
