.content-wrapper {
  overflow: hidden;
  width: 100vw;
  display: grid;
    grid-template-columns: repeat(13, 1fr);
    grid-template-rows: repeat(6, 1fr);
    grid-template-areas:
      ". . grt grt grt grt grt grt grt grt grt . ."
      ". box-a box-a box-a box-a box-a . box-b box-b box-b box-b box-b ."
      ". box-a box-a box-a box-a box-a . box-b box-b box-b box-b box-b ."
      ". box-a box-a box-a box-a box-a . box-b box-b box-b box-b box-b ."
      ". . . . menu menu menu menu menu . . . ."
      ". . . . . . . . . . . . .";
}
