/*socials*/
.socials {
  position: absolute;
  top: 24px;
  right: 24px;
  display: flex;
}

.socials > * {
  font-size: 2rem;
  margin: 0 12px;
}

.github a {
  text-decoration: none;
  color: #fff;
}

.linkedin a {
  text-decoration: none;
  color: #fff;
}
/*end socials*/

/*content container*/
.content-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px;
}
/*end content container*/

.about-card {

}

.about-message {

}
