/*DIVS*/
.contact-text-card {
  text-align: center;
}

.contact-form-card {
  text-align: center;
}
/*END DIVS*/

/*TEXT*/
.contact-header {
  position: absolute;
  top: 2.5rem;
  left: 6rem;
}

.contact-p1 {
  position: absolute;
  top: 8rem;
  left: 6rem;
}
.contact-p2 {
  position: absolute;
  top: 11rem;
  left: 7rem;
}
.contact-p3 {
  position: absolute;
  top: 14rem;
  left: 4rem;
}
/*END TEXT*/

/*INPUT & TEXTAREA*/
#email-message {
  font-family: var(--textFont);
  min-width: 90%;
  min-height: 6rem;
  padding: .5rem;
  border-radius: .25rem;
  border: 1px solid var(--drkBlue);
}

#email-address {
  font-family: var(--textFont);
  height: auto;
  min-width: 90%;
  border: 1px solid var(--drkBlue);
  border-radius: .25rem;
  padding: .5rem;
}
/*END INPUT & TEXTAREA*/

/*BUTTON*/
.contact-button {
  background: transparent;
  font-family: var(--textFont);
  height: 1.875rem;
  width: 5rem;
  border-radius: .25rem;
  border: 1px solid var(--drkBlue);
  box-shadow: var(--smallBoxShad);
}
/*END BUTTON*/
