.greeting-card {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 90vh;
  width: 100%;
}

.greeting-card p {
  font-size: 1.5rem;
}

.highlight {
  color: var(--offwhite);
  text-shadow: 2px 1.5px black;
}
