/*font*/
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Oswald:wght@700&display=swap');
/*end font*/

:root {
  /*first scheme*/
  /*--pink: #ff009d;
  --orange: #ff5100;
  --light-purple: #bf3c8d;
  --purple: #775099;
  --green: #00ad99;
  --blue: #008cff;*/
  /*second scheme*/
  /*--grn1: #5daa68; use for background and maybe some text?*/
  /*--grn2: #3f6844; use for box shadows and text shadows*/
  /*--tan: #faf1cf; use for text and maybe some divs?*/
  /*third scheme*/
  /*--dpink: #ee7879; use for text on blue background*/
  /*--blue: #2a3166; use for background or text on pink or green divs*/
  /*--pink: #f4abaa; use for div background*/
  /*--green: #cae7df; use for div background*/
  /*fourth scheme*/
  /*--dark: #0f0c24; use for background*/
  /*--purple: #a350a3; use for divs, give a neon glow effect*/
  /*--reddish: #c1436d; use for divs, give a neon glow effect*/
  /*use white text*/
}




body {
  background: salmon;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  position: relative;
  margin: 0;
}

i {
  color: #fff;
  font-size: 2rem;
}

h1 {
  color: #fff;
  font-family: 'Open Sans', sans-serif;
  text-transform: uppercase;
}

h2, h3, h4, h5, h6 {
  color: #fff;
  font-family: 'Open Sans', sans-serif;
  margin: 0;
  text-transform: uppercase;
}

p {
  color: #fff;
  font-family: 'Open Sans', sans-serif;
}

.fa-chevron-circle-down {
  font-size: 1rem;
}
