/*font*/
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Sansita:wght@700&display=swap');
/*end font*/

:root {
  --yellow: rgb(237,203,0);
  --blue: rgb(2,193,227);
  --dblue: rgb(2,81,227);
  --orange: rgb(213,111,49);
  --gold: rgb(223,158,45);
  --red: rgb(153,28,58);
  --offwhite: #f5f5f5;
  --header: 'Sansita', sans-serif;
  --text: 'Open Sans', sans-serif;
  --dtshad: .25rem 3px 0px var(--gold), 9px 8px 0px rgba(153,28,58,1);
  --tshad: 2px 1.5px 0px rgb(153,28,58);
  --bshad: 1.5rem 1.5rem 0px var(--red);
  --smbshad: .25rem .25rem 0 var(--red);

}

html {
  scroll-behavior: smooth;
  font-size: 100%;
}

body {
  background: linear-gradient(to top left, rgba(237,203,0,1) 50%, rgba(2,193,227,1) 50%);
  min-height: 100vh;
  position: relative;
  margin: 0;
}

i {
  color: var(--dblue);
  font-size: 1.25rem;
}

h1 {
  font-family: var(--header);
  font-size: 5.5rem;
  margin: 0;
  color: var(--yellow);
  text-shadow: var(--dtshad);
  margin-bottom: 0.5rem;
}

h2 {
  font-family: var(--header);
  font-size: 1.5rem;
  color: var(--orange);
  text-shadow: var(--tshad);
}

h3 {
  font-family: var(--text);
  font-size: 1rem;
  color: var(--orange);
  text-decoration: none;
  margin: 0.5rem 0;
}

p {
  font-family: var(--text);
  font-size: .75rem;
  margin: 0;
  color: var(--dblue);
}

.highlight {
  color: var(--yellow);
}

.line {
  width: 90%;
  border-bottom: 2px solid black;
  opacity: 0.75;
  margin-bottom: 0.5rem; /*8px*/
}
