/*DIVS*/
.main-a {
  background: var(--offwhite);
  border-radius: .25rem;
  padding: 1rem;
  box-shadow: var(--boxShad);
  display: flex;
  flex-direction: column;
  grid-area: box-a;
}

.main-b {
  background: var(--offwhite);
  border-radius: .25rem;
  padding: 1rem;
  box-shadow: var(--boxShad);
  display: flex;
  flex-direction: column;
  grid-area: box-b;
}

.main-menu {
  background: var(--offwhite);
  border-radius: .25rem;
  padding: 1rem;
  min-width: 20rem;
  max-width: 50rem;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  z-index: 2;
  position: absolute;
}
/*not in containers file because it's inside another container*/
.main-menu-container {
  position: relative;
  grid-area: menu;
  margin-top: 2rem;
  display: flex;
  justify-content: center;
}

.projects-menu {
  background: var(--offwhite);
  border-radius: .25rem;
  padding: .25rem 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--offwhite);
  box-shadow: .75rem .75rem 0 var(--red);
  transform: translateX(2.75%) translateY(4.5rem);
  height: 50%;
}
/*END DIVS*/

/*TEXT*/
.main-menu a {
  color: var(--orange);
}

.main-menu a:hover {
  transform: scale(1.2);
  text-decoration: none;
}

.main-menu a:visited {
  text-decoration: none;
}

.main-menu a:active {
  color: var(--drkBlue);
}
.projects-menu a {
  margin-right: 1rem;
}
.projects-menu a:last-child {
  margin-right: 0;
}
/*END TEXT*/

/*STYLES FOR OPEN/CLOSED MENU STATES*/
/*styles the main menu when the project sub-menu is open/closed*/
.proj-sub-open {
  transition: .5s all ease;
  box-shadow: .75rem .75rem 0 var(--red);
}
.proj-sub-closed {
  transition: .5s all ease;
  box-shadow: var(--boxShad);
}
/*styles the sub-menu when it's open or closed*/
.proj-closed {
  opacity: 0;
}

.proj-open {
  opacity: 1;
  transition: .5s ease;
}
/*END STYLES FOR OPEN/CLOSED MENU STATES*/

