/*FONT*/
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Sansita:wght@700&display=swap');
/*END FONT*/

:root {
  --yellow: rgb(237,203,0);
  --blue: rgb(2,193,227);
  --drkBlue: rgb(2,81,227);
  --orange: rgb(213,111,49);
  --gold: rgb(223,158,45);
  --red: rgb(153,28,58);
  --offwhite: #f5f5f5;
  --headerFont: 'Sansita', sans-serif;
  --textFont: 'Open Sans', sans-serif;
  --doubleTextShad: .25rem 3px 0px var(--gold), 9px 8px 0px rgba(153,28,58,1);
  --textShad: 2px 1.5px 0px rgb(153,28,58);
  --boxShad: 1.5rem 1.5rem 0px var(--red);
  --smallBoxShad: .25rem .25rem 0 var(--red);

}

html {
  scroll-behavior: smooth;
  font-size: 100%;
}

body {
  background: linear-gradient(to top left, rgba(237,203,0,1) 50%, rgba(2,193,227,1) 50%);
  min-height: 100vh;
  position: relative;
  margin: 0;
}

i {
  color: var(--drkBlue);
  font-size: 1.75rem;
}

h1 {
  font-family: var(--headerFont);
  font-size: 4rem;
  margin: 0;
  color: var(--yellow);
  text-shadow: var(--doubleTextShad);
}

h2 {
  font-family: var(--headerFont);
  font-size: 2rem;
  color: var(--orange);
  text-shadow: var(--textShad);
  margin: 0 0 .5rem 0;
}

h3 {
  font-family: var(--textFont);
  font-size: 1.25rem;
  color: var(--orange);
  text-decoration: none;
  margin: 0.5rem 0;
}

p {
  font-family: var(--textFont);
  font-size: .75rem;
  margin: 0;
  color: var(--drkBlue);
}

a {
  text-decoration: none;
  font-size: 1rem;
  font-family: var(--headerFont);
}
/*style for the line that divides the content in the a and b cards*/
.line {
  width: 95%;
  border-bottom: 2px solid black;
  opacity: 0.75;
  margin-bottom: 0.5rem;
}
