.menu
  position: relative
  span
    position: absolute
    background-color: black
    padding: 15px 10px
    border: 3px solid white
    border-radius: 50%
    transition: all 0.3s ease-in-out
    &.hidden
      visibility: hidden
    &:last-child
      padding: 13px 15px
    &:nth-child(1)
      background-color: lightblue
      padding: 15px 15px
      &.show
        transform: rotate(0deg) translate(100px) rotate(0deg)
    &:nth-child(2)
      background-color: darkblue
      &.show
        transform: rotate(45deg) translate(100px) rotate(-45deg)
    &:nth-child(3)
      background-color: red
      &.show
        transform: rotate(90deg) translate(100px) rotate(-90deg)
