/*this is the menu that holds the links when expanded*/
.menu nav {
    height: 10vh;
    width: 100%;
    position: relative;
    background: transparent;
    transition: all 0.5s ease;
    clip-path: circle(0% at 30px 40px);
}

/*when the checkbox is checked, don't display the menu*/
.menu #check {display: none;}

/*when the menu is open*/
.menu .open {
    font-size: 2rem;
    position: absolute;
    top: 12px;
    left: 12px;
    cursor: pointer;
    background: transparent;
    color: var(--tan);
    padding: 12px;
    clip-path: circle();
}

/*when the menu is closed*/
.menu nav .close {
    font-size: 2rem;
    position: absolute;
    top: 24px;
    left: 24px;
    cursor: pointer;
    color: var(--tan);
}

/*styling for the list - move to the left 36px to avoid the icon*/
.menu nav ul {
    list-style: none;
    margin-left: 36px;
    display: inline;
}

/*make the list horizontal*/
.li-inline {display: inline-block;}

/*style the links in the list*/
.menu nav ul li a {
    display: block;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 2rem;
    padding: 20px;
    text-align: center;
    color: var(--tan);
}

/*transition for the closed menu*/
.menu nav ul li a::after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    transition: 0.3s ease;
    background: var(--tan);
}

.menu nav ul li a:hover::after {
    width: 100%;
}

.menu #check:checked ~ nav {
    clip-path: circle(100%);
}
