.menu {
  position: fixed;
  z-index: 1;
}

/*this is the menu that holds the links when expanded*/
.menu nav {
    height: 10vh;
    width: 100%;
    position: relative;
    background: transparent;
    transition: all 0.5s ease;
    clip-path: circle(0% at 1.875rem 2.5rem); /*30px 40px*/
}

/*when the checkbox is checked, don't display the menu*/
.menu #check {display: none;}

/*when the menu is open*/
.menu .open {
    font-size: 2rem;
    position: absolute;
    top: 0;
    left: 0;
    cursor: pointer;
    background: transparent;
    color: var(--dblue);
    padding: .75rem; /*12px*/
    clip-path: circle();
}

/*when the menu is closed*/
.menu nav .close {
    font-size: 2rem;
    position: absolute;
    top: .75rem; /*12px*/
    left: .75rem; /*12px*/
    cursor: pointer;
    color: var(--dblue);
}

/*styling for the list - move to the left 36px to avoid the icon*/
.menu nav ul {
    list-style: none;
    margin-left: 0;
    display: inline;
}

/*make the list horizontal*/
.li-inline {display: inline-block; transform: translateY(-12px);}

/*style the links in the list*/
.menu nav ul li a {
    display: block;
    font-family: var(--text);
    text-decoration: none;
    text-transform: uppercase;
    font-size: 2rem;
    padding: 1.25rem; /*20px*/
    text-align: center;
    color: var(--dblue);
}

/*transition for the closed menu*/
.menu nav ul li a::after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    transition: 0.3s ease;
    background: var(--dblue);
}

.menu nav ul li a:hover::after {
    width: 100%;
}

.menu #check:checked ~ nav {
    clip-path: circle(100%);
}

/*small screens*/
@media screen and (max-width: 37.5em) {
  .menu nav ul li a {
    font-size: 1rem;
  }
}

