.project-left {
  height: 45vh;
  width: 45vw;
  background: var(--offwhite);
  border-radius: .25rem; /*4px;*/
  padding: 3vh;
  margin-right: 4rem; /*64px;*/
  box-shadow: var(--bshad);
  position: relative;
}

.project-left i {
  color: var(--dblue);
  text-shadow: none;
}

.project-right {
  height: 45vh;
  padding: 3vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#split {
  height: 60vh;
  margin-right: .5rem; /*8px;*/
}

#chef-b {
  width: 40vw;
}

.button {
  width: 5rem; /*80px;*/
  height: 1.875rem; /*30px;*/
  border-radius: .25rem; /*4px;*/
  border: 1px solid var(--dblue);
  box-shadow: var(--smbshad);
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 1rem; /*16px;*/
  transform: translateY(.5rem); /*8px*/
}

.project-link {
  color: var(--dblue);
  text-decoration: none;
  font-family: var(--text);
}

.project-tech {
  display: flex;
  justify-content: flex-end;
  position: absolute;
  bottom: 1rem; /*16px;*/
}

.project-tech i {
  margin-right: .5rem; /*8px;*/
  margin-top: .5rem; /*8px;*/
}

#chef-img {
  display: flex;
  flex-direction: column;
}

#split-img {
  display: flex;
}

.project-left p {
  margin-bottom: .5rem; /*8px;*/
}

.project-left h2 {
  margin-bottom: 1rem; /*16px;*/
}
/*small screens*/
@media screen and (max-width: 37.5em) {
  .project-left h2 {
    font-size: 1.5em;
  }

  .project-left i {
    font-size: 1.25em;
  }

  .project-left {
    width: 70vw;
    height: 50vh;
    display: grid;
    grid-template-columns: 80% 20%;
    margin: 0;
  }

  .project-right {
    width: 70vw;
    height: 50vh;
  }

  #split {
    height: auto;
    width: 50%;
  }

  .project-tech {
    display: flex;
    flex-direction: column;
    top: 1rem;
    right: 1rem;
    justify-content: flex-end;
    align-items: flex-end;
  }

  .project-left p {
    margin-bottom: 0;
  }

  .button {
    position: absolute;
    bottom: .5rem;
  }

  #site {
    right: 750%;
  }

  #code {
    right: 150%;
  }
}
/*end small screens*/
