.project-left {
  height: 70vh;
  width: 45vw;
  background: gray;
  border-radius: 8px;
  padding: 3vh;
  margin-right: 64px;
}

.project-right {
  height: 70vh;
  width: 25vw;
  background: gray;
  border-radius: 8px;
  padding: 3vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#split {
  height: 60vh;
  margin-bottom: 16px;
  border-radius: 8px;
}

#chef {
  width: 25vw;
}

.project-buttons {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}

.button {
  width: 80px;
  height: 30px;
  border-radius: 8px;
  border: 1px solid #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.project-link {
  color: #fff;
  text-decoration: none;
  font-family: 'Open Sans', sans-serif;
}
