.socials {
  position: fixed;
  top: 3rem; /*48px;*/
  left: .5rem; /*8px;*/
  display: flex;
  flex-direction: column;
  z-index: 1;
}

.socials > * {
  margin: .5rem 0; /*8px*/
}

.github a {
  text-decoration: none;
  text-shadow: 1.5px 1.5px 0px rgba(0, 0, 0, 0.2);
}

.linkedin a {
  text-decoration: none;
  text-shadow: 1.5px 1.5px 0px rgba(0, 0, 0, 0.2);
}
