/*socials*/
.socials {
  position: fixed;
  top: 48px;
  left: 8px;
  display: flex;
  flex-direction: column;
  z-index: 1;
}

.socials > * {
  margin: 8px 0;
}

.github a {
  text-decoration: none;
}

.linkedin a {
  text-decoration: none;
}
/*end socials*/
