/*DIVS*/
.tech-card { transition: opacity .8s ease-in-out; }

.tech-card > * {
  display: flex;
  justify-content: left;
}
/*END DIVS*/

/*TEXT*/
.tech-card > * > i { margin-right: .5rem; }
/*END TEXT*/
