/*large screens*/
.tech-card {
  height: 45vh;
  width: 40%;
  border-radius: .25rem; /*4px;*/
  background: var(--offwhite);
  padding: 3vh;
  display: flex;
  flex-direction: column;
  box-shadow: var(--bshad);
}

.tech-card > * {
  display: flex;
  justify-content: left;
}

.tech-card > * > i {
  font-size: 2rem;
  margin-right: .5rem; /*8px;*/
  text-shadow: none;
}

#tech-line {
  margin-bottom: 0;
}
/*end large screens*/

/*small screens*/
@media screen and (max-width: 37.5em) {
  .tech-card {
    width: 75%;
    margin-top: 2em;
  }

  .tech-card h2 {
    font-size: 1.5em;
  }

  .tech-card h3 {
    font-size: 1.25em;
  }

  .tech-card i {
    font-size: 1.25em;
  }
}
/*end small screens*/
